.form1 {
    border: 10px solid black;
    border-radius: 30px;
    padding: 5px;
    height: 245px;
    margin-right: 200px;
    margin-left: 200px;
}

.button5{
    border-color: #daa972;
    border-width: thick;
    text-align: center;
    background-color: #253943;
    color: #fff5d6;
    font-size: 22px;
    width: 10%;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    right: 500px;
    bottom: 90px;
}

.button5:hover{
    background-color: #daa972;
  color: white;
  transform: scale(1.1);
}

.button4{
    border-color: #f9705a;
    border-width: thick;
    text-align: center;
    background-color: #253943;
    color: #fff5d6;
    font-size: 22px;
    width: 10%;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    right: 700px;
    bottom: 90px;
}

.button4:hover{
    background-color: #f9705a;
  color: white;
  transform: scale(1.1);
}

.input1{
  border-color: #0e67a3;
   border-width: thick; 
   text-align:center;
    background-color: #253943; 
    color: #fff5d6;
     width: 30%;
}

.label{
  font-size: large; 
  font-weight: bold; 
  color: #fff5d6; 
  font-size: 20px;
}

.label2{
  font-size: large;
   font-weight: bold; 
  color: #fff5d6;
}
