.form1 {
    border: 10px solid black;
    border-radius: 30px;
    padding: 15px;
    height: 245px;
    margin-right: 300px;
    margin-left: 300px;
}

.button1 {
    border-color: #f9705a;
    border-width: thick;
    text-align: center;
    background-color: #253943;
    color: #fff5d6;
    font-size: 20px;
    width: 10%;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    right: 640px;
    bottom: 210px;
}

.button1:hover {
    background-color: #f9705a;
    color: white;
    transform: scale(1.1);
}

.button2 {
    border-color: #daa972;
    border-width: thick;
    text-align: center;
    background-color: #253943;
    color: #fff5d6;
    font-size: 20px;
    width: 10%;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    right: 480px;
    bottom: 210px;
}

.button2:hover {
    background-color: #daa972;
    color: white;
    transform: scale(1.1);
}

.img1 {
    height: 100px;
    position: absolute;
    bottom: 70px;
}

.img2 {
    height: 100px;
    position: absolute;
    right: 100px;
    bottom: 70px;
    filter: invert(100%);
}

.stdNum {
    border-color: #fff5d6;
    border-width: thick;
    text-align: center;
    background-color: #253943;
    color: #fff5d6;
    font-size: 20px;
}

.bookNum {
    border-color: #2db189;
    border-width: thick;
    text-align: center;
    background-color: #253943;
    color: #fff5d6;
    font-size: 20px;
}